body,
h3 {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

p {
  font-size: 1em;
  font-weight: 100;
}

.btns i {
  font-size: 2em;
}

.principal {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/background.gif');
  background-size: cover;
  background-position: 0% 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.game-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin: 0;
}

.game-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.8);
}

.game-intro h1 {
  color: white;
  font-size: 3em;
}

.images-players-intro {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}


body button {
  width: 500px;
  height: 100px;
  background-color: brown;
  color: white;
  border-style: none;
  /*margin-left: 100px;*/
  font-size: 2em;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  outline: none;
  border-radius: 12px;
}

body button:hover {
  background-color: #e3a000;
}

.disabled {
  background-color: #e3a000;
}

img {
  width: 300px;
  display: flex;
  cursor: pointer;
}

.score-board {
  height: 200px;
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  align-items: center;
  background-color: brown;
  border-radius: 12px;
}

.score-number {
  width: 200px;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board h3 {
  font-size: 3em;
  color:black;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.btns > button {
  font-size: 1em;
  width: 70px;
  height: 60px;
  margin-top: 20px;
  margin-left: 0;
  border-radius: 12px;
}

.hide-div {
  display: none !important; 
}

.game-over {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.game-over img {
  width: 60%;
}

.right-items {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 700px;
}

.score {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.game-over h1 {
  font-size: 5em;
  margin: 5px;
  color: white;
}

.game-over h3 {
  font-size: 2em;
  font-weight: 400;
  margin: 20px 0 5px 0;
  color: white;
}
.game-over h4 {
  font-size: 0.5em;
  font-weight: 100;
  margin: 0;
  color: white;
}

.game-over button {
  margin-left: 0;
}

.instructions {
  background-color:  rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 700px;
  color: white;
  padding: 0 10px 0 10px;
}

.instructions h2 {
  text-align: center;
}

.instructions p {
  margin-left: 10px;
}



.align-keyboard {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  margin-bottom: 10px;
}

.keyboard-img {
  width: 100px;
  cursor: auto;
}

.bludger-img {
  width: 100px;
  cursor: auto;
}

.snitch-img {
  width: 100px;
  height: 50px;
  cursor: auto;
}

.reload-img {
  width: 100px;
  cursor: auto;
}
